<div ng-controller="ProfileController as ctrl" class="container">
<!-- Needs refactor to Semantic UI -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6">

      <div class="thumbnail profileCard">
        <div class="caption">
          <h3>Name</h3>
        </div>
        <div class="btn-group-vertical col-md-12 profileComponents">
          <a href="" class="btn btn-default">{{ctrl.currentUser.name}}</a>
          <a href="" class="btn btn-default">{{ctrl.currentUser.username}}</a>
          <a href="" class="btn btn-default">{{ctrl.currentUser.bio}}</a>
          <a href="" class="btn btn-default">{{ctrl.currentUser.zipCode}}</a>
        </div>
      </div>

      <div class="thumbnail profileCard">
        <div class="btn-group-vertical col-md-12">
          <a href="" class="btn btn-default" ng-click="ctrl.writeQuestion()">Write Question</a>
        </div>
      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
